# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://DEIN-PROJEKT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=dein-anon-key

# Veranstaltungskonfiguration
NEXT_PUBLIC_EVENT_YEAR=2026
NEXT_PUBLIC_EVENT_DATE=2026-06-20
NEXT_PUBLIC_EVENT_LOCATION=Königin-Mathilde-Gymnasium, Herford
